body {
  /*creando un degrade para el proyecto que aplique a toda la pagina*/
  background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 100%);
  min-height: 100vh;
  margin: 0;
  font-family: "Playfair Display", serif;
  /* para que despues del footer no se cree un espacio en blanco */
  display: flex;
flex-direction: column;
}
main {
  flex: 1; /* para que el main ocupe todo el espacio disponible */
}
h1, h2,h4, p{
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}
/*crear una clase para el object*/
.object-fit-scale {
  object-fit: scale-down;
}
